flows.json
[{"id":"d23e6285.e9ca3","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2b2d7503.78f9da","type":"ui_form","z":"d23e6285.e9ca3","name":"Input","label":"FACTORS","group":"2317579.98851a8","order":3,"width":0,"height":0,"options":[{"label":"datecrawled","value":"dc","type":"text","required":true,"rows":null},{"label":"name","value":"na","type":"text","required":true,"rows":null},{"label":"seller","value":"sl","type":"text","required":true,"rows":null},{"label":"offertype","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"at","type":"text","required":true,"rows":null},{"label":"vehicletype","value":"vt","type":"text","required":true,"rows":null},{"label":"yearofregistration","value":"yr","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerps","value":"pp","type":"number","required":true,"rows":null},{"label":"model","value":"mo","type":"text","required":true,"rows":null},{"label":"kilometer","value":"kl","type":"number","required":true,"rows":null},{"label":"monthofregistration","value":"mr","type":"number","required":true,"rows":null},{"label":"fueltype","value":"fl","type":"text","required":true,"rows":null},{"label":"brand","value":"br","type":"text","required":true,"rows":null},{"label":"notrepaireddamage","value":"nd","type":"text","required":true,"rows":null},{"label":"datecreated","value":"dt","type":"text","required":true,"rows":null},{"label":"noofpictures","value":"np","type":"number","required":true,"rows":null},{"label":"postalcode","value":"pc","type":"number","required":true,"rows":null},{"label":"lastseen","value":"ls","type":"text","required":true,"rows":null}],"formValue":{"dc":"","na":"","sl":"","ot":"","at":"","vt":"","yr":"","gb":"","pp":"","mo":"","kl":"","mr":"","fl":"","br":"","nd":"","dt":"","np":"","pc":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":380,"wires":[["48fad017.3f5fd"]]},{"id":"b83e7a77.01d198","type":"http request","z":"d23e6285.e9ca3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/56541f9c-0959-4c00-acd5-ea5c4e65f3bd/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":460,"wires":[["66ee53b4.b3873c","fb80a6d1.2c3f58"]]},{"id":"fb80a6d1.2c3f58","type":"function","z":"d23e6285.e9ca3","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["6b847b3a.7b60c4"]]},{"id":"48fad017.3f5fd","type":"function","z":"d23e6285.e9ca3","name":"PreToken","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"sl\",msg.payload.sl)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"kl\",msg.payload.kl)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"fl\",msg.payload.fl)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"nd\",msg.payload.nd)\nglobal.set(\"dt\",msg.payload.dt)\nglobal.set(\"np\",msg.payload.np)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"vCdH_3HFbV9I2g2EzMZruXheiAZJDczsZMoqcucX6Ag2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["d7674c07.06972"]]},{"id":"bf8da21a.2f8d4","type":"function","z":"d23e6285.e9ca3","name":"PrePrediction","func":"var dc = global.get('dc')\nvar na = global.get('na')\nvar sl = global.get('sl')\nvar ot = global.get('ot')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar pp = global.get('pp')\nvar mo = global.get('mo')\nvar kl = global.get('kl')\nvar mr = global.get('mr')\nvar fl = global.get('fl')\nvar br = global.get('br')\nvar nd = global.get('nd')\nvar dt = global.get('dt')\nvar np = global.get('np')\nvar pc = global.get('pc')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"fddb6f3d-f87e-4a5a-b76c-9b1dc1eb873a\"\nmsg.headers={'Content-Type': 'application/json', 'Authorization': 'Bearer ' + token, 'ML-Instance-ID':instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"dateCrawled\", \"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\", \"dateCreated\", \"nrOfPictures\", \"postalCode\", \"lastSeen\"], \"values\": [[dc,na,sl,ot,at,vt,yr,gb,pp,mo,kl,mr,fl,br,nd,dt,np,pc,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["b83e7a77.01d198"]]},{"id":"6b847b3a.7b60c4","type":"ui_text","z":"d23e6285.e9ca3","group":"2317579.98851a8","order":4,"width":0,"height":0,"name":"","label":"resale value","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":540,"wires":[]},{"id":"d7674c07.06972","type":"http request","z":"d23e6285.e9ca3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":540,"wires":[["bf8da21a.2f8d4","3d025319.d9268c"]]},{"id":"66ee53b4.b3873c","type":"debug","z":"d23e6285.e9ca3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":460,"wires":[]},{"id":"3d025319.d9268c","type":"debug","z":"d23e6285.e9ca3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":660,"wires":[]},{"id":"2317579.98851a8","type":"ui_group","z":"","name":"Default","tab":"a84e46c7.d806d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a84e46c7.d806d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]